@using MicroService.ApiGateway.Web.Models;
@using Newtonsoft.Json;
@model OcelotConfigurationModel

@section scripts{
    <script src="~/js/ocelot/source.js"></script>
}
@{ 
    var defaultConfiguration = "{}";
    var ocelotConfiguration = Model == null ? defaultConfiguration : JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div class="layui-footer ocelot-footer">
    <button class="layui-btn" id="btnDownload">导出Json配置</button>
</div>
<pre class="layui-code" id="ocelotConfiguration">@ocelotConfiguration</pre>