.ocelot-line {
    width: 150px !important
}

.ocelot-line-input {
    width: 250px !important
}

.ocelot-block {
    margin-left: 150px !important;
}

.bootstrap-tagsinput {
    width: 100% !important
}


