.ocelot-line {
    width: 150px !important
}

.ocelot-line-input {
    width: 250px !important
}

.ocelot-block {
    margin-left: 150px !important;
}

.bootstrap-tagsinput {
    width: 673px !important
}

.picker hr {
    margin-bottom: 5px;
}

.picker .button__add {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    white-space: normal;
    text-transform: none;
}

.picker .button__delete {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    white-space: normal;
    text-transform: none;
}

.picker .button__show-all {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    white-space: normal;
    text-transform: none;
}

.picker .block__buttons__add {
    margin-top: 4px;
}

.picker .search-title {
    color: gray;
    font-size: 12px;
}
