@using MicroService.ApiGateway.Ocelot.Dto
@model ReRouteDto
@{
    var items = new List<string>();
    items.Add("测试一");
    items.Add("测试二");
}

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">路由名称</label>
        <div class="layui-input-inline ocelot-line-input">
            <input type="text" autocomplete="off" l-verfy="required" asp-for="ReRouteName" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">服务名称</label>
        <div class="layui-input-inline  ocelot-line-input">
            <input type="text" autocomplete="off" l-verfy="required" asp-for="ServiceName" class="layui-input">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">上游路径</label>
        <div class="layui-input-inline  ocelot-line-input">
            <input type="text" autocomplete="off" l-verfy="required" asp-for="UpstreamPathTemplate" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label ocelot-line">下游路径</label>
        <div class="layui-input-inline  ocelot-line-input">
            <input type="text" autocomplete="off" l-verfy="required" asp-for="DownstreamPathTemplate" class="layui-input">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label ocelot-line">上游请求方式</label>
    <div class="layui-input-block ocelot-block">
        <b-taginput b-tag-items="@items" id="UpstreamHttpMethodItems" class="layui-input"
                   lay-verify="required" name="UpstreamHttpMethodItems" placeholder="可选:POST;GET;PATCH;PUT" />

        @*<taginput type="text" autocomplete="off" tag-id="UpstreamHttpMethod" tag-class="layui-input"
            tag-items="@Model.UpstreamHttpMethod" tag-placeholder="输入" tag-required="true" />*@
    </div>
</div>
