@using MicroService.ApiGateway.Ocelot.Dto
@section styles {
    <link type="text/css" rel="stylesheet" href="~/css/ocelot/reroutes.css" />
}
@section scripts{
    <script src="~/js/ocelot/reroutes.js"></script>
}
    <table class="layui-hide" id="ReRoutesTable" lay-filter="reroute"></table>

    <script type="text/html" id="toolbarOpera">
        <div class="layui-btn-container">
            <button class="layui-btn" lay-event="add">添加路由</button>
            <button class="layui-btn layui-btn-disabled" disabled lay-event="edit" id="editRoute">编辑路由</button>
            <button class="layui-btn layui-btn-disabled" disabled lay-event="remove" id="removeRoute">删除选择</button>
            <button class="layui-btn layui-btn-danger" hidden lay-event="removeAll">删除所有</button>
        </div>
    </script>