@using MicroService.ApiGateway.Ocelot.Dto
@using MicroService.ApiGateway.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Theming

@model ReRouteDto
@section styles {
    <abp-style-bundle name="@WebServiceBundles.Styles.TagsInput"></abp-style-bundle>
    <link type="text/css" rel="stylesheet" href="~/css/ocelot/global.css" />
}
@section scripts{
    <script src="~/js/ocelot/reroute.js"></script>
    <abp-script-bundle name="@WebServiceBundles.Scripts.TagsInput"></abp-script-bundle>
}

    <form class="layui-form layui-form-pane" action="" lay-filter="ReRouteCfg">
        @Html.Hidden("ReRouteId")
        <div class="layui-tab  layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本设置</li>
                <li>HTTP选项</li>
                <li>流量控制</li>
                <li>服务质量</li>
                <li>安全选项</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show" role="tabpanel">
                    @await Html.PartialAsync("ReRoute/Basic")
                </div>
                <div class="layui-tab-item" role="tabpanel">
                    @await Html.PartialAsync("ReRoute/Http")
                </div>
                <div class="layui-tab-item" role="tabpanel">
                    @await Html.PartialAsync("ReRoute/RateLimit")
                </div>
                <div class="layui-tab-item" role="tabpanel">
                    @await Html.PartialAsync("ReRoute/Qos")
                </div>
                <div class="layui-tab-item" role="tabpanel">
                    @await Html.PartialAsync("ReRoute/Security")
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer ocelot-footer" style="left: 0; text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="btnSave">立即保存</button>
                </div>
            </div>
        </div>
    </form>
